%nav.nav.menu.nav-left.nav-fullLeft.show-mdUp
  .nav-wrapper
    %ul.nav-links
      %li.nav-link
        = link_to home_path, class: "#{'active' if action_name == 'home'}" do
          Home
      %li.nav-link 
        = link_to work_path, class: "#{'active' if action_name == 'work'}" do 
          Work
      %li.nav-link
        = link_to about_path, class: "#{'active' if action_name == 'about'}" do 
          About
      %li.nav-link
        = link_to contact_path, class: "#{'active' if action_name == 'contact'}" do
          Contact
    .company-info
      .company-card{ itemscope: true, itemtype: 'http://schema.org/Organization' }
        %p.title{ itemprop: 'name' }
          Big Corporation Digital
        %p.address{ :itemprop => 'address', itemscope: true, itemtype: 'http://schema.org/PostalAddress' }
          %span{ itemprop: 'streetAddress' } 300 N Canal Street
          %br
          %span{ itemprop: 'addressLocality' } Chicago, 
          %span{ itemprop: 'addressRegion' } IL, 
          %span{ itemprop: 'postalCode' } 60606
        %p.contact
          %br
          %span{ itemprop: 'email' } info@bigcorp.io
        / %p.copyright
        /   Copyright © 2016
