<nav>
  <div class="logo-container">
    <%= link_to "#" do %>
      <h1 class="logo"><div class="box"></div></h1>
    <% end %>
  </div>
  <button class="menu-button">
    <span class="bar top"></span>
    <span class="bar middle"></span>
    <span class="bar bottom"></span>
  </button>
  <ul class="directory desktop">
    <li><%= link_to "Home", home_path, class: "active" %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Services", stuff_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><%= link_to "Thoughts", blog_path %></li>
  </ul>
  <p class="address">
    Crook & Baker Digital</br>
    530 N Lake Shore Dr</br>
    Chicago IL 60611
  </p>
</nav>
