<nav id="mainMenu">
  <div class="logo-container">
    <%= link_to "#home" do %>
      <h1 class="logo"><div class="box"></div></h1>
    <% end %>
  </div>
  <button class="menu-button">
    <span class="bar top"></span>
    <span class="bar middle"></span>
    <span class="bar bottom"></span>
  </button>
  <ul class="directory">
    <li><%= link_to "Home", "#home", data: { menuanchor: "home" } %></li>
    <li><%= link_to "Services", "#services", data: { menuanchor: "services" } %></li>
    <li><%= link_to "About", "#about", data: { menuanchor: "about" } %></li>
    <li><%= link_to "Contact", "#contact", data: { menuanchor: "contact" } %></li>
  </ul>
  <p class="address">
    Crook & Baker Digital</br>
    530 N Lake Shore Dr</br>
    Chicago IL 60611
  </p>
</nav>
