<nav id="mainMenu">
  <div class="logo-container">
    <%= link_to "#" do %>
      <h1 class="logo"><div class="box"></div></h1>
    <% end %>
  </div>
  <button class="menu-button">
    <span class="bar top"></span>
    <span class="bar middle"></span>
    <span class="bar bottom"></span>
  </button>
  <ul class="directory">
    <li data-menuanchor="home"><%= link_to "Home", "#home", class: "active" %></li>
    <li data-menuanchor="services"><%= link_to "Services", "#services" %></li>
    <li data-menuanchor="about"><%= link_to "About", "#about" %></li>
    <li data-menuanchor="contact"><%= link_to "Contact", "#contact" %></li>
  </ul>
  <p class="address">
    Crook & Baker Digital</br>
    530 N Lake Shore Dr</br>
    Chicago IL 60611
  </p>
</nav>
