<nav>
  <div class="logo-container">
    <%= link_to "#" do %>
      <h1 class="logo">C&B</h1>
    <% end %>
  </div>
  <button class="menu-button">
    <span class="bar top"></span>
    <span class="bar middle"></span>
    <span class="bar bottom"></span>
  </button>
  <ul class="directory">
    <li><%= link_to "Home", "#", class: "active" %></li>
    <li><%= link_to "About", "#" %></li>
    <li><%= link_to "Services", "#" %></li>
    <li><%= link_to "Contact", "#" %></li>
    <li><%= link_to "Thoughts", "#" %></li>
  </ul>
  <p class="address">
    Crook & Baker Digital</br>
    530 N Lake Shore Dr</br>
    Chicago IL 60611
  </p>
</nav>
