<nav>
  <h1 class="logo">
    [c&b]
  </h1>
  <button class="menu-button"></button>
  <ul class="directory">
    <li><%= link_to "Home", "#", class: "active" %></li>
    <li><%= link_to "About", "#" %></li>
    <li><%= link_to "Services", "#" %></li>
    <li><%= link_to "Contact", "#" %></li>
    <li><%= link_to "Thoughts", "#" %></li>
  </ul>
  <p class="address">
    Crook & Baker Digital</br>
    3442 N Elaine Pl Apt 3R</br>
    Chicago IL 60657
  </p>
</nav>
