<div class="company">
  <div class="image">
    <%= image_tag "checkerboard/test#{index}.jpg" %>
  </div>
  <div class="description">
    <%= company[1] %>
  </div>
  <div class="brand" style="border-color: <%= company[2] %>">
    <%= link_to allstaff_select_path do %>
      <%= image_tag "logos/#{company[0].gsub " ", ""}.png" %>
    <% end %>
  </div>
</div>
